httpx
pytest
num2words
reportlab
argon2_cffi
drf-spectacular
ruff
babel
django
djangorestframework
gunicorn
djangorestframework-simplejwt
django-environ
psycopg[binary]
django-ratelimit
django-cors-headers